[submodule "plugins/powerlevel10k"]
	path = plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/zsh-async"]
	path = plugins/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "plugins/zsh-autopair"]
	path = plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
